.__work {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: $color_Black1;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    img {
        position:absolute;
        right: 0;
        z-index: 1;
    }
    h2 {
        font-size: 2em;
        color:$color_White1;
    }
}
.__work_wrapper_works {
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    z-index: 2;
    flex-wrap: wrap;
    .__work_item {
        width: 380px;
        height: 380px;
        background:pink;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(11px);
        margin: 5px;
    }
    .__work_item_header {
        width: 100%;
        padding: 10px;
        color:$color_White1;
        font-size: 22px;
    }
    .__work_item_body {
        width: calc(100% - 20px);
        height: calc(75% - 40px);
        padding: 20px 10px;
        font-family: 'Heebo';
        color:$color_White1;
    }
    .__work_item_footer {
        width: calc(100% - 20px);
        padding: 10px;
        display: flex;
        justify-content: flex-end;
    }
}